DATABASE_URL=sqlite:////data/deploy.db
DEPLOY_ROOT=/data/deployments
DB_ROOT=/data/databases
DB_NET_NAME=db-net
WEB_NET_NAME=web-net
ENABLE_NGINX_GATEWAY=true
NGINX_GATEWAY_ROOT=/data/nginx-gateway
DOCKER_AUTH_ROOT=/data/docker-auth

# user_id=1 -> 2000-2999, user_id=2 -> 3000-3999 и т.д.
USER_PORT_BLOCK_START=2
 
# app порты внутри блока пользователя
APP_PORT_OFFSET_START=0
APP_PORT_OFFSET_END=899

# db порты внутри блока пользователя
DB_PORT_OFFSET_START=900
DB_PORT_OFFSET_END=999

INIT_ADMIN_USERNAME=admin
INIT_ADMIN_API_KEY=amin_key